<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>CCTV 영상 출력</h1>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const socket = io();
      socket.on("getCCTVImage", data => {
        console.log("333333333");
        const time = new Date();
        console.log("받는 시간", time);
        console.log(data);
      });
    </script>
  </body>
</html>
